//==============================================================================
// Placeholders for Links
//==============================================================================

%links {
  text-decoration: none;
  color: $color-accent-secondary;
  font-weight: $font-weight-thick;
}

//==============================================================================
// Placeholders for Images
//==============================================================================


%pics {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

//==============================================================================
// Placeholders for Headlines
//==============================================================================

%headline-prim {
  text-align: center;
  color: $color-accent-primary;
  font-weight: $font-weight-thick;
}

%headline-sec {
  font-weight: $font-weight-thin;
  color: $grey;
}
//==============================================================================
// Placeholders for Navigation Item Container
//==============================================================================

%nav-flex {
  display: flex;
  flex-direction: column;
  text-align: center;
}

//==============================================================================
// Center Item
//==============================================================================
%center-item {
  margin-left: auto;
  margin-right: auto;
}

//==============================================================================
// Screen Reader Text
//==============================================================================
%srt {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
