//=============================================================================
// Font Variables
//=============================================================================

$font-google: "https://fonts.googleapis.com/css?family=Lato:300,400,700";
$main-font: 'Lato', sans-serif;

$base-font-size: 16px;

$font-weight-thin: 300;
$font-weight-regular: 400;
$font-weight-thick: 700;
//=============================================================================
// Color Variables
//=============================================================================
$white: #FFF;
$black: #120F15;
$grey: #615E64;
$turquoise: #50E3C2;
$dodger-blue: #1ABCFF;
$carribean-green: #0DDE88;
$froly: #F37297;
$tan-hide: #F7945E;
$amethyst: #A068CA;

$color-accent-primary: $turquoise;
$color-accent-secondary: $dodger-blue;

//=============================================================================
// Breakpoints
//=============================================================================

$breakpoint-s: 1px;
$breakpoint-m: 480px;
$breakpoint-l: 1400px;

//==============================================================================
// Variable for Border Radius
//==============================================================================

$border-rds: 5px;

//==============================================================================
// Variable for Button Color Map
//==============================================================================

$ui-colors: (
  default: $dodger-blue,
  success: $carribean-green,
  error: $froly,
  warning: $tan-hide,
  info: $amethyst
);
