//=============================================================================
// Button Styles
//=============================================================================
[class^="btn--"] {
  @extend %btn;
  @extend %clearfix;
  justify-content: center;
  @include medquery(medium) {
    width: 95%;
    margin-left: 10px;
    margin-right: 10px;
  }
}

//=============================================================================
// Theme Color Styles
//=============================================================================
.theme__colors.btn {
  @include bg-colors($ui-colors);
}
