//=============================================================================
// Form Styles
//=============================================================================

.form {
  margin-top: 30px;
  margin-bottom: 30px;
  @include element(input) {
    @extend %nav-flex;
    @extend %center-item;
    border: 0;
    border-bottom: 5px solid $color-accent-primary;
    border-radius: $border-rds;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: $font-weight-thick;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    color: $grey;
    &:focus {
      color: $grey;
      background-color: $color-accent-primary;
      font-size: emcalc(20px);
      font-weight: $font-weight-thick;
      @extend %trans;
    }
  }
  @include element(label) {
      @include modifier(hidden) {
        @extend %srt;
      }
      display: block;
      @extend %center-item;
  }
}
