//=============================================================================
// Grid Styles (.container, .grid__row, .grid__col, .centered, .theme__colors)
//=============================================================================

//Color them for g-columns
.theme__colors.grid {
  @include grid-colors($grid-colors);
}

.centered {
  @include medquery(medium) {
    margin-left: auto;
    margin-right: auto;
  }
}



.container {
  @extend %clearfix;
  @extend .centered;
}

//========================Calculate Grid Rows================================

// .grid {
// 	&__row {
//     padding-top: 5x;
//     padding-bottom: 5px;
//     justify-content: space-between;
//     @extend %nav-flex;
//     // @extend .centered;
//     width: 100%;
//   }
//   &--12 {
//     padding-left: 30px;
//     padding-right: 30px;
//     justify-content: space-between;
//     @extend %nav-flex;
//   }
//   @include medquery(large) {
//     max-width: $g-cont-max-w;
//   }
// }
//
//
// .grid__col {
// 	@include medquery(medium) {
// 		@include g-columns;
// 	}
// }
[class^="grid__col--"] {
  border-radius: $border-rds;
  margin-bottom: 20px;
  margin-top: 10px;
  min-height: 45px;
  padding-top: 20px;
  &:last-of-type {
    margin-bottom: 50px;
  }
}
