//=============================================================================
// Image Styles
//=============================================================================

.img {
  @include modifier(logo) {
    @extend %pics;
  }
  @include modifier(frame) {
    @extend %pics;
    border: 1px solid lighten($grey,40%);
    padding: 10px;
    max-width: 100%;
  }
  @include modifier(avatar) {
    @extend %pics;
    max-width: 100%;

  }
}
