//=============================================================================
// Navigation Styles
//=============================================================================

.nav {
  margin-top: 50px;
  margin-bottom: 50px;
  @extend %nav-flex;
  @include element(item) {
      a {
      display: block;
      border-radius: $border-rds;
      font-size: $base-font-size;
      text-decoration: none;
      color: $black;
      padding: 10px;
      -webkit-transition: all .5s ease;
      -moz-transition: all .5s ease;
      transition: all .5s ease;
      &:hover {
        background-color: $color-accent-primary;
        color: $white;
        font-weight: $font-weight-thick;
        font-size: emcalc(20px);
        padding: 15px;
      }
    }
  }


}
