//=============================================================================
// Navigation Styles
//=============================================================================

.nav {
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 0;
  @extend %nav-flex;
  @include element(item) {
      a {
      display: block;
      width: 100%;
      border-radius: $border-rds;
      font-size: $base-font-size;
      text-decoration: none;
      color: $grey;
      padding: 10px;
      @extend %trans;
      &:hover {
        background-color: $color-accent-primary;
        color: $white;
        font-weight: $font-weight-thick;
        font-size: emcalc(20px);

      }
    }
  }


}
