//=============================================================================
// Utilize google fonts
//=============================================================================

@if variable-exists(font-google) {
  @import url($font-google);
}

//=============================================================================
// Container Typography (.container)
//=============================================================================

.container {
  font-size: $base-font-size;
  font-family: $main-font;
  max-width: 100%;
  padding: 50px 100px 50px;
}


//=============================================================================
// Link Typography (.link)
//=============================================================================
.link {
  @extend %links;
}

//=============================================================================
// Blockquote Typography (.blockquote)
//=============================================================================
.blockquote {
  font-size: emcalc(24px);
  border-left: 5px solid $color-accent-primary;
  font-style: italic;
  padding-left: 15px;
  border-radius: $border-rds;
}

//=============================================================================
// Headlines Typography (.headline--primary, .headline--secondary)
//=============================================================================
.headline {
  &--primary {
    @extend %headline-prim;
  }
  &--secondary {
    @extend %headline-sec;
  }
}
