//=============================================================================
// Utilize google fonts
//=============================================================================

@if variable-exists(font-google) {
  @import url($font-google);
}

//=============================================================================
// Container Typography
//=============================================================================

.container {
  font-size: $base-font-size;
  font-family: $main-font;
  max-width: 100%;
  padding: 50px 100px 50px;
}


//=============================================================================
// Link Typography
//=============================================================================

//=============================================================================
// Blockquote Typography
//=============================================================================

//=============================================================================
// Headlines Typography
//=============================================================================
